<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hezhihu.testdemo">

    <application>
        <activity android:name=".MainActivity"/>
        <activity android:name=".booster.BoosterActivity"/>
    </application>


</manifest>